path {
    /* fill: #fff; */
    stroke: #000;
    stroke-width: .5px;
}
    
circle {
    fill: #fff;
    fill-opacity: 0.4;
    stroke: #111;
}

path.active {
    fill: pink;
    stroke-width: 2px;
}

circle.active {
    fill: blue;
}
