.footer {
    color: #ffffff;
    background-color: #eec1ae;
}

.footer-main {

}

.col-md-6 {
    padding: 1em;
}

.footer-teamname {
    color: #dddddd;
    margin-left: 0.5em;
}

.footer-copyright {
    background-color: #bea18e;
    padding-top: 0.2em;
    padding-bottom: 0.2em;
    color: #ffffff;
}
